<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Data driven basics</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a9d88">  <td>21/07/23 15:04:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCustomerTest.addCustomer(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.proj.testcases.AddCustomerTest@4e718207]">addCustomer</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9a9d88">  <td>21/07/23 15:04:18</td>   <td>2611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCustomerTest.addCustomer(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.proj.testcases.AddCustomerTest@4e718207]">addCustomer</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9a9d88">  <td>21/07/23 15:04:18</td>   <td>2986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCustomerTest.addCustomer(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.proj.testcases.AddCustomerTest@4e718207]">addCustomer</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9a9d88">  <td>21/07/23 15:04:18</td>   <td>3397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCustomerTest.addCustomer(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.proj.testcases.AddCustomerTest@4e718207]">addCustomer</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="68ddbd">  <td>21/07/23 15:04:14</td>   <td>-1299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BankManagerLoginTest.loginAsBankManager()[pri:0, instance:com.proj.testcases.BankManagerLoginTest@3aeaafa6]">loginAsBankManager</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>21/07/23 15:04:00</td>   <td>-14804</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.proj.testcases.AddCustomerTest@4e718207]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>21/07/23 15:04:19</td>   <td>3847</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.proj.testcases.AddCustomerTest@4e718207]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
</table>
