<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>All Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aba872">  <td>21/07/05 19:31:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginAsBankManager()[pri:0, instance:com.proj.testcases.LoginTest@49fc609f]">loginAsBankManager</td> 
  <td>main@222624801</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>21/07/05 19:31:26</td>   <td>-7226</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.proj.testcases.LoginTest@49fc609f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@222624801</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>21/07/05 19:31:34</td>   <td>332</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.proj.testcases.LoginTest@49fc609f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@222624801</td>   <td></td> </tr>
</table>
